In [1]:
! uv pip install agentics-py

import os
import sys
from getpass import getpass

from dotenv import find_dotenv, load_dotenv
import time

CURRENT_PATH = ""

IN_COLAB = "google.colab" in sys.modules
print("In Colab:", IN_COLAB)


if IN_COLAB:
    CURRENT_PATH = "/content/drive/MyDrive/"
    # Mount your google drive
    from google.colab import drive

    drive.mount("/content/drive")
    load_dotenv("/content/drive/MyDrive/.env")
else:
    load_dotenv(find_dotenv())

if not os.getenv("GEMINI_API_KEY"):
    os.environ["GEMINI_API_KEY"] = getpass("Enter your GEMINI_API_KEY:")

begin_time = time.time()

Using Python 3.12.9 environment at: /Users/gliozzo/Code/agentics911/agentics/.venv
Audited 1 package in 144ms
In Colab: False

In [2]:
from typing import Optional, Union, List, Dict, Any
from pydantic import BaseModel, ConfigDict, Field
from pandas import DataFrame


class Text2sqlQuestion(BaseModel):
    model_config = ConfigDict(arbitrary_types_allowed=True)
    question: Optional[str] = None
    db_id: Optional[str] = None
    query: Optional[str] = None
    reasoning_type: Optional[str] = None
    commonsense_knowledge: Optional[str] = None
    schema: Optional[str] = None
    generated_query: Optional[str] = Field(
        None, description="The query generated by AI"
    )
    system_output_df: Optional[str] = None
    gt_output_df: Optional[str] = None

/Users/gliozzo/Code/agentics911/agentics/.venv/lib/python3.12/site-packages/pydantic/_internal/_fields.py:198: UserWarning: Field name "schema" in "Text2sqlQuestion" shadows an attribute in parent "BaseModel"
  warnings.warn(

In [3]:
import re


def fix_double_quoted_literals(sql: str) -> str:
    """
    Convert double-quoted *literals* to single-quoted strings.
    Keep double-quoted *identifiers* like "MyTable" as-is.

    Heuristic: if the content is a simple identifier ([A-Za-z_][A-Za-z0-9_]*),
    we keep the double quotes; otherwise we treat it as a literal and convert.
    """
    ident_re = re.compile(r"^[A-Za-z_][A-Za-z0-9_]*$")

    def repl(m):
        body = m.group(1).replace('""', '"')  # unescape doubled quotes inside ""
        if ident_re.fullmatch(body):
            # looks like an identifier → leave as "Identifier"
            return f'"{m.group(1)}"'
        # looks like a literal → convert to '...'
        return "'" + body.replace("'", "''") + "'"

    # Match " ... " allowing doubled "" inside
    return re.sub(r'"((?:[^"]|"")*)"', repl, sql)

In [4]:
from pandas import DataFrame
import aiosqlite
import asyncio


async def async_execute_sql(sql_query: str, db_path: str) -> str:
    try:
        async with aiosqlite.connect(db_path) as db:
            async with db.execute(sql_query.replace('"', "'")) as cursor:
                columns = [description[0] for description in cursor.description]
                rows = await asyncio.wait_for(cursor.fetchall(), timeout=10)
                df = DataFrame(rows, columns=columns)
                return df.to_json()
    except Exception as e:
        return f"Error: {str(e)}"

In [5]:
import sqlite3


def get_schema(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    schema_json = {}
    for table in tables:

        cursor.execute(f"PRAGMA table_info({table[0]});")
        schema = cursor.fetchall()

        schema_json[table[0]] = {
            col[1]: {
                "type": col[2],
                "notnull": col[3],
                "dflt_value": col[4],
            }
            for col in schema
        }
    return schema_json


res = get_schema("./Data/Text2SQL/Archer/database/bike_1/bike_1.sqlite")
print(res)

{'station': {'id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'lat': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'long': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'dock_count': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'city': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'installation_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}, 'status': {'station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'bikes_available': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'docks_available': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'time': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}, 'trip': {'id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'duration': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'start_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'start_station_name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'start_station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'end_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'end_station_name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'end_station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'bike_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'subscription_type': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'zip_code': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}}, 'weather': {'date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'max_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'mean_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'min_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'max_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_wind_Speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_wind_speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_gust_speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'precipitation_inches': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'cloud_cover': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'events': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'wind_dir_degrees': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'zip_code': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}}}

In [6]:
from typing import Set
import pandas as pd


def remove_duplicate_col_df(df):
    return df.loc[:, ~df.columns.duplicated()]


def convert_df_to_set(df, row_invariant=True) -> Set:
    # remove duplicate columns
    df = remove_duplicate_col_df(df)

    if row_invariant:
        return set(
            [
                tuple(sorted(df[c].to_list(), key=lambda x: (x is None, str(x))))
                for c in df.columns.values
            ]
        )
    else:
        return set([tuple(df[c].to_list()) for c in df.columns.values])


def compare_df(gt, predicted, row_invariant=False) -> bool:
    # 1: gt_df is subset of predicted_df
    # 2: df1 == df2
    # 0: otherwise
    if predicted.startswith("Error:") or gt.startswith("Error:"):
        return 0
    gt_df = pd.read_json(gt)
    predicted_df = pd.read_json(predicted)
    gt_df = gt_df.map(lambda x: float(f"{x:.5f}") if isinstance(x, float) else x)
    predicted_df = predicted_df.map(
        lambda x: float(f"{x:.5f}") if isinstance(x, float) else x
    )

    gt_set = convert_df_to_set(gt_df, row_invariant=row_invariant)
    predicted_set = convert_df_to_set(predicted_df, row_invariant=row_invariant)

    intersec = gt_set & predicted_set
    return (
        1
        if (intersec == gt_set)
        else 1 if (predicted_set == gt_set) else 1 if (intersec == predicted_set) else 0
    )

In [7]:
from crewai.tools import tool


## Define a Crew AI tool to get news for a given date using the DDGS search engine
@tool("execute_sql_query")
async def execute_sql_query(sql_query: str, db_id: str) -> str:
    """Execute a SQL query against the target db and return the execution results (error or json dataframe)"""
    schema_path = os.path.join(
        "./Data/Text2SQL/Archer/database/", db_id, db_id + ".sqlite"
    )
    system_output_df = await async_execute_sql(sql_query, schema_path)
    return system_output_df

In [ ]:
from agentics import Agentics as AG
from agentics.core.llm_connections import get_llm_provider

training = AG.from_jsonl(
    "./Data/Text2SQL/Archer/en_data/dev.json",
    jsonl=False,
    atype=Text2sqlQuestion,
    # max_rows=1,
)
training.llm = AG.get_llm_provider()
training.reasoning = False
training.tools = [execute_sql_query]
training.max_iter = 10
training[0].model_dump_json()

In [ ]:
async def get_schema_map(state: Text2sqlQuestion) -> Text2sqlQuestion:
    schema_path = os.path.join(
        "./Data/Text2SQL/Archer/database/", state.db_id, state.db_id + ".sqlite"
    )
    state.schema = str(get_schema(schema_path))
    print(state.db_id)
    return state


training = await training.amap(get_schema_map)
training.verbose_agent = False
print(training[0].schema)

In [10]:
training = await training.self_transduction(
    ["question", "schema", "commonsense_knowledge", "db_id"],
    ["generated_query"],
    instructions="Generate a SQL query from the input question and target db schema",
)
print(training[0].generated_query)

2025-09-17 08:36:16.411 | DEBUG    | agentics.core.agentics:__lshift__:477 - Executing task: Generate a SQL query from the input question and target db schema
104 states will be transduced
2025-09-17 08:36:16.413 | DEBUG    | agentics.core.agentics:__lshift__:571 - transducer class: <class 'agentics.abstractions.pydantic_transducer.PydanticTransducerCrewAI'>
2025-09-17 08:36:41.119 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 20 states in 24.706068992614746 seconds
2025-09-17 08:36:41.120 | DEBUG    | agentics.core.agentics:__lshift__:659 - 20 states processed in 1.2353034496307373 seconds average per state ...
2025-09-17 08:38:36.163 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 20 states in 115.0433418750763 seconds
2025-09-17 08:38:36.164 | DEBUG    | agentics.core.agentics:__lshift__:659 - 40 states processed in 5.7521670937538145 seconds average per state ...
2025-09-17 08:39:26.825 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 20 states in 50.66022181510925 seconds
2025-09-17 08:39:26.825 | DEBUG    | agentics.core.agentics:__lshift__:659 - 60 states processed in 2.533011090755463 seconds average per state ...
2025-09-17 08:39:51.922 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 20 states in 25.09583282470703 seconds
2025-09-17 08:39:51.922 | DEBUG    | agentics.core.agentics:__lshift__:659 - 80 states processed in 1.2547916412353515 seconds average per state ...
2025-09-17 08:40:32.958 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 20 states in 41.03518795967102 seconds
2025-09-17 08:40:32.958 | DEBUG    | agentics.core.agentics:__lshift__:659 - 100 states processed in 2.051759397983551 seconds average per state ...
2025-09-17 08:40:57.278 | DEBUG    | agentics.core.agentics:__lshift__:607 - Processed 4 states in 24.319014072418213 seconds
2025-09-17 08:40:57.278 | DEBUG    | agentics.core.agentics:__lshift__:659 - 120 states processed in 1.2159507036209107 seconds average per state ...

SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman'

In [ ]:
async def execute_query_map(state: Text2sqlQuestion) -> Text2sqlQuestion:
    schema_path = os.path.join(
        "./Data/Text2SQL/Archer/database/", state.db_id, state.db_id + ".sqlite"
    )
    state.system_output_df = await async_execute_sql(state.generated_query, schema_path)
    state.gt_output_df = await async_execute_sql(state.query, schema_path)
    return state


training = await training.amap(execute_query_map)
print(training[0].gt_output_df)

In [12]:
training.to_jsonl("/tmp/anker_task.jsonl")

2025-09-17 08:40:57.397 | DEBUG    | agentics.core.agentics:to_jsonl:871 - Exporting 104 Agentics to CSV /tmp/anker_task.jsonl

In [13]:
print(f"task executed in {time.time() - begin_time} seconds")

task executed in 284.60535621643066 seconds

In [14]:
training = AG.from_jsonl("/tmp/anker_task.jsonl")
total = 0
for question in training:
    total += compare_df(question.system_output_df, question.gt_output_df)
    print(
        question.gt_output_df,
        question.system_output_df,
        question.generated_query,
        compare_df(question.system_output_df, question.gt_output_df),
    )
print(
    f"Test size: {len(training.states)}\nExecution Accuracy: {total/len(training.states)}"
)

{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":41,"1":21,"2":18,"3":30,"4":32,"5":14}} {"Name":{"0":"John Nizinik"},"Age":{"0":43}} SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman' 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":41,"1":21,"2":18,"3":30,"4":32,"5":14}} {"Name":{"0":"John Nizinik"},"Age":{"0":43}} SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman' 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":28,"1":8,"2":5,"3":17,"4":19,"5":1}} {"Name":{},"Age":{}} SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman' AND Song_release_year = '2001' 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":28,"1":8,"2":5,"3":17,"4":19,"5":1}} {"Name":{},"Age":{}} SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman' AND Song_release_year = '2001' 0
{"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"age_at_concert":{"0":21,"1":18,"2":32}} {"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"Age":{"0":32,"1":29,"2":43}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = "Free choice" 0
{"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"age_at_concert":{"0":21,"1":18,"2":32}} {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' 0
{"Name":{"0":"John Nizinik","1":"Justin Brown","2":"Rose White","3":"Timbaland"},"age_at_concert":{"0":32,"1":18,"2":30,"3":21}} {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' AND s.Age > 1985 - (SELECT Year FROM concert WHERE Theme = 'Free Choice') 0
{"Name":{"0":"John Nizinik","1":"Justin Brown","2":"Rose White","3":"Timbaland"},"age_at_concert":{"0":32,"1":18,"2":30,"3":21}} {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' AND s.Age > 0 0
{"years":{"0":11}} {"years_since_earliest_concert":{"0":11}} SELECT 2025 - 2014 AS years_since_earliest_concert 1
{"years":{"0":11}} {"first_concert_year":{"0":"2014"}} SELECT MIN(Year) AS first_concert_year FROM concert 0
{"years":{"0":14}} {"years_since_earliest_concert":{"0":3}} SELECT (2014 - (2014 - 3)) AS years_since_earliest_concert 0
{"years":{"0":14}} {"years_ago":{"0":-3}} SELECT (CAST((SELECT Year FROM concert WHERE Theme = 'Wide Awake') AS INT) - 3) - (CAST((SELECT MIN(Year) FROM concert) AS INT)) AS years_ago 0
{"Name":{"0":"John Nizinik"},"target_age":{"0":53}} {"Name":{"0":"John Nizinik"},"Age_on_20th_anniversary":{"0":63}} SELECT s.Name, s.Age + 20 AS Age_on_20th_anniversary FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.concert_Name = 'Home Visits' 0
{"Name":{"0":"John Nizinik"},"target_age":{"0":53}} {"Name":{"0":"John Nizinik"},"Age":{"0":29}} SELECT s.Name, (2023 - s.Song_release_year) + 20 AS Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.concert_Name = 'Home Visits' 0
Error: near "s": syntax error {"Name":{},"Age":{}} SELECT singer.Name, singer.Age FROM singer JOIN singer_in_concert ON singer.Singer_ID = singer_in_concert.Singer_ID JOIN concert ON singer_in_concert.concert_ID = concert.concert_ID WHERE concert.concert_Name = 'Home Visits' AND concert.Stadium_ID IN (SELECT Stadium_ID FROM stadium WHERE Name = 'Stark Park') 0
Error: near "s": syntax error {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.concert_Name = 'Home Visits' AND c.Stadium_ID IN (SELECT Stadium_ID FROM stadium WHERE Name = 'Stark Park') 0
{"total":{"0":368750.0}} {"TotalMoney":{}} SELECT (CASE WHEN Name = 'Balmoor stadium' THEN Capacity * 20 WHEN Name = 'Hampden Park stadium' THEN Capacity * 5.5 END) AS TotalMoney FROM stadium WHERE Name = 'Balmoor stadium' OR Name = 'Hampden Park stadium' 0
{"total":{"0":368750.0}} {"total_revenue":{"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":null,"7":null,"8":null}} SELECT (CASE WHEN Name = 'Balmoor stadium' THEN Capacity * 20 WHEN Name = 'Hampden Park stadium' THEN Capacity * 5.5 END) AS total_revenue FROM stadium 0
{"total":{"0":124000.0}} {"total_price":{"0":288750.0,"1":80000.0}} SELECT (CASE WHEN Name = 'Balmoor' THEN Capacity * 20 ELSE Capacity * 5.5 END) AS total_price FROM stadium WHERE Name IN ('Balmoor', 'Hampden Park') 0
{"total":{"0":124000.0}} {"total_revenue":{"0":368750.0}} SELECT (4000 * 20) + (52500 * 5.5) AS total_revenue 0
{"cost":{"0":684}} {"total_spent":{"0":1065}} SELECT SUM(CASE WHEN s.Age < 1980 THEN 355 ELSE 228 END) AS total_spent FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 0
{"cost":{"0":684}} {"total_expenditure":{"0":null}} SELECT SUM(CASE WHEN s.Age < 43 THEN 355 ELSE 228 END) AS total_expenditure FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park stadium' 0
{"cost":{"0":811}} Error: near "NULL": syntax error NULL 0
{"cost":{"0":811}} {"total_expenditure":{"0":1065}} SELECT SUM(CASE WHEN singer.Age > 1980 THEN 228 ELSE 355 END) AS total_expenditure FROM singer INNER JOIN singer_in_concert ON singer.Singer_ID = singer_in_concert.Singer_ID INNER JOIN concert ON singer_in_concert.concert_ID = concert.concert_ID WHERE concert.Stadium_ID = '2' 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"type":{"0":"Highest","1":"Lowest"},"Stadium_ID":{"0":1,"1":1},"Name":{"0":"Stark's Park","1":"Stark's Park"},"average_attendance":{"0":0,"1":0},"number_of_concerts":{"0":1,"1":1}} SELECT * FROM (SELECT 'Highest' AS type, s.Stadium_ID, s.Name, (s.Highest + s.Lowest) / 2 / s.Capacity AS average_attendance, COUNT(c.concert_ID) AS number_of_concerts FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Stadium_ID, s.Name, s.Capacity, s.Highest, s.Lowest ORDER BY average_attendance DESC LIMIT 1) UNION SELECT * FROM (SELECT 'Lowest' AS type, s.Stadium_ID, s.Name, (s.Highest + s.Lowest) / 2 / s.Capacity AS average_attendance, COUNT(c.concert_ID) AS number_of_concerts FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Stadium_ID, s.Name, s.Capacity, s.Highest, s.Lowest ORDER BY average_attendance ASC LIMIT 1) 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{"0":"Somerset Park","1":"Stark's Park","2":"Balmoor","3":"Glebe Park","4":"Recreation Park"},"num_concerts":{"0":2,"1":1,"2":1,"3":1,"4":1},"avg_attendance":{"0":11998.0,"1":10104.0,"2":4000.0,"3":3960.0,"4":3100.0}} SELECT s.Name, COUNT(c.concert_ID) AS num_concerts, AVG(s.Capacity) AS avg_attendance FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Name ORDER BY avg_attendance DESC 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{},"Average":{},"COUNT(C.concert_ID)":{}} SELECT S1.Name, S1.Average, COUNT(C.concert_ID) FROM stadium S1 INNER JOIN concert C ON S1.Stadium_ID = C.Stadium_ID WHERE S1.Name = 'Gayfield Park' OR S1.Name = 'Hampden Park' GROUP BY S1.Name, S1.Average ORDER BY S1.Average ASC, S1.Average DESC 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{},"Capacity":{},"num_concerts":{}} SELECT s.Name, s.Capacity, COUNT(c.concert_ID) as num_concerts FROM concert c JOIN stadium s ON c.Stadium_ID = s.Stadium_ID WHERE s.Name IN ('Gayfield Park', 'Hampden Park') GROUP BY s.Name, s.Capacity 0
{"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"female_proportion":{"0":0.0,"1":0.0}} {"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"percentage_female":{"0":0.0,"1":0.0}} SELECT c.concert_ID, c.concert_Name, (SELECT CAST(COUNT(CASE WHEN s.Is_male = 0 THEN 1 END) AS REAL) * 100 / COUNT(s.Singer_ID) FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID WHERE sic.concert_ID = c.concert_ID) AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 1
{"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"female_proportion":{"0":0.0,"1":0.0}} {"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"percentage_female":{"0":0.0,"1":0.0}} SELECT c.concert_ID, c.concert_Name, (SELECT CAST(COUNT(CASE WHEN s.Is_male = False THEN 1 ELSE NULL END) AS REAL) * 100 / COUNT(s.Singer_ID) FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID WHERE sic.concert_ID = c.concert_ID) AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 1
{"concert_ID":{"0":2,"1":3,"2":6},"concert_Name":{"0":"Super bootcamp","1":"Home Visits","2":"Week 2"},"female_proportion":{"0":0.0,"1":0.0,"2":0.0}} {"concert_ID":{},"concert_Name":{},"percentage_female":{}} SELECT c.concert_ID, c.concert_Name, (SELECT COUNT(*) FROM singer_in_concert sic JOIN singer s ON sic.Singer_ID = s.Singer_ID WHERE s.Is_male = 0 AND sic.concert_ID = c.concert_ID) / (SELECT COUNT(*) FROM singer_in_concert sic WHERE sic.concert_ID = c.concert_ID) * 100 AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park stadium' 0
{"concert_ID":{"0":2,"1":3,"2":6},"concert_Name":{"0":"Super bootcamp","1":"Home Visits","2":"Week 2"},"female_proportion":{"0":0.0,"1":0.0,"2":0.0}} {"concert_ID":{},"concert_Name":{},"percentage_female":{}} SELECT c.concert_ID, c.concert_Name, (SELECT COUNT(sic.Singer_ID) FROM singer_in_concert sic JOIN singer s ON sic.Singer_ID = s.Singer_ID WHERE s.Is_male = False AND sic.concert_ID = c.concert_ID) / (SELECT COUNT(sic.Singer_ID) FROM singer_in_concert sic WHERE sic.concert_ID = c.concert_ID) * 100 AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' AND c.concert_Name = 'Week 2' 0
{"percent":{"0":33.3333333333}} {"percentage":{"0":0}} SELECT (COUNT(CASE WHEN c.Stadium_ID IN (SELECT s.Stadium_ID FROM stadium AS s ORDER BY s.Average / s.Capacity DESC LIMIT 3) THEN 1 ELSE NULL END) / COUNT(*)) * 100 AS percentage FROM concert AS c 0
{"percent":{"0":33.3333333333}} {"percentage":{"0":50.0}} SELECT CAST(SUM(CASE WHEN concert.Stadium_ID IN (SELECT stadium.Stadium_ID FROM stadium JOIN concert ON stadium.Stadium_ID = concert.Stadium_ID GROUP BY stadium.Stadium_ID ORDER BY COUNT(concert.concert_ID) / stadium.Capacity DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(concert.concert_ID) AS percentage FROM concert 0
{"percent":{"0":33.3333333333}} {"CAST(SUM(CASE WHEN T2.Name IN (SELECT T2.Name FROM concert AS T1 INNER JOIN stadium AS T2 ON T1.Stadium_ID = T2.Stadium_ID GROUP BY T2.Name ORDER BY AVG(T2.Capacity) DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 \/ COUNT(T1.concert_ID)":{"0":100.0}} SELECT CAST(SUM(CASE WHEN T2.Name IN (SELECT T2.Name FROM concert AS T1 INNER JOIN stadium AS T2 ON T1.Stadium_ID = T2.Stadium_ID GROUP BY T2.Name ORDER BY AVG(T2.Capacity) DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(T1.concert_ID) FROM concert AS T1 INNER JOIN stadium AS T2 ON T1.Stadium_ID = T2.Stadium_ID WHERE T1.Theme = 'Bleeding Love' 0
{"percent":{"0":33.3333333333}} {"CAST(SUM(CASE WHEN stadium.Name IN (SELECT Name FROM stadium ORDER BY Capacity DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 \/ COUNT(*)":{"0":50.0}} SELECT CAST(SUM(CASE WHEN stadium.Name IN (SELECT Name FROM stadium ORDER BY Capacity DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) FROM concert INNER JOIN stadium ON concert.Stadium_ID = stadium.Stadium_ID 0
{"Name":{"0":"Stark's Park","1":"Somerset Park"}} {"Name":{"0":"Somerset Park","1":"Stark's Park"},"num_singers":{"0":3,"1":3}} SELECT s.Name, COUNT(DISTINCT sic.Singer_ID) as num_singers FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID GROUP BY s.Name HAVING COUNT(DISTINCT sic.Singer_ID) >= 3 * (SELECT COUNT(DISTINCT Singer_ID) FROM singer_in_concert WHERE concert_ID IN (SELECT concert_ID FROM concert WHERE Stadium_ID = (SELECT Stadium_ID FROM stadium WHERE Name = 'Glebe Park'))) 0
{"Name":{"0":"Stark's Park","1":"Somerset Park"}} {"Name":{}} SELECT T1.Name FROM stadium AS T1 INNER JOIN concert AS T3 ON T1.Stadium_ID = T3.Stadium_ID INNER JOIN singer_in_concert AS T2 ON T3.concert_ID = T2.concert_ID GROUP BY T1.Name HAVING COUNT(T2.Singer_ID) > (SELECT COUNT(T2.Singer_ID) FROM stadium AS T1 INNER JOIN concert AS T3 ON T1.Stadium_ID = T3.Stadium_ID INNER JOIN singer_in_concert AS T2 ON T3.concert_ID = T2.concert_ID WHERE T1.Name = 'Glebe Park') * 3 0
{"Name":{"0":"Stark's Park","1":"Somerset Park","2":"Balmoor"}} {"Name":{}} SELECT T1.Name FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.Stadium_ID = T2.Stadium_ID INNER JOIN singer_in_concert AS T3 ON T2.concert_ID = T3.concert_ID INNER JOIN singer AS T4 ON T3.Singer_ID = T4.Singer_ID WHERE T1.Name = 'Somerset Park' AND T1.Name = 'Balmoor' AND (SELECT COUNT(DISTINCT T4.Singer_ID) FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.Stadium_ID = T2.Stadium_ID INNER JOIN singer_in_concert AS T3 ON T2.concert_ID = T3.concert_ID INNER JOIN singer AS T4 ON T3.Singer_ID = T4.Singer_ID WHERE T1.Name = 'Glebe Park') * 3 <= (SELECT COUNT(DISTINCT T4.Singer_ID) FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.Stadium_ID = T2.Stadium_ID INNER JOIN singer_in_concert AS T3 ON T2.concert_ID = T3.concert_ID INNER JOIN singer AS T4 ON T3.Singer_ID = T4.Singer_ID WHERE T1.Name = 'Balmoor') 0
{"Name":{"0":"Stark's Park","1":"Somerset Park","2":"Balmoor"}} {"Name":{}} SELECT s.Name FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID JOIN singer sg ON sic.Singer_ID = sg.Singer_ID WHERE s.Name = 'Somerset Park' OR s.Name = 'Balmoor' OR s.Name = 'Glebe Park' GROUP BY s.Name HAVING COUNT(DISTINCT sg.Singer_ID) > 3 * (SELECT COUNT(DISTINCT sg2.Singer_ID) FROM stadium s2 JOIN concert c2 ON s2.Stadium_ID = c2.Stadium_ID JOIN singer_in_concert sic2 ON c2.concert_ID = sic2.concert_ID JOIN singer sg2 ON sic2.Singer_ID = sg2.Singer_ID WHERE s2.Name = 'Glebe Park') 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} {"Name":{"0":"Stark's Park"}} SELECT Name FROM stadium WHERE Highest > (SELECT 2 * Highest FROM stadium WHERE Name = 'Balmoor') ORDER BY Highest DESC LIMIT 1 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} {"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} SELECT Name FROM stadium WHERE (Highest * 1.0 / Capacity) > ((SELECT Highest FROM stadium WHERE Name = 'Balmoor') * 1.0 / (SELECT Capacity FROM stadium WHERE Name = 'Balmoor')) * 2 1
{"Name":{"0":"Stark's Park","1":"Bayview Stadium","2":"Recreation Park"}} {"Name":{}} SELECT Name FROM stadium WHERE Highest / Capacity > (SELECT Highest / Capacity FROM stadium WHERE Name = 'Balmoor') * 2 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium","2":"Recreation Park"}} {"Name":{}} SELECT Name FROM stadium WHERE (Highest / Capacity) > (2 * (SELECT Highest / 5600 FROM stadium WHERE Name = 'Balmoor')) 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.5}} {"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"count":{"0":3}} SELECT c.concert_ID, c.concert_Name, COUNT(c.concert_ID) AS count FROM concert c JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID WHERE c.Year > '2012' GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(sic.Singer_ID) > (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE Theme = 'Happy Tonight')) 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.5}} {"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"num_singers":{"0":3},"num_singers_happy_tonight":{"0":2},"ratio":{"0":1}} SELECT c1.concert_ID, c1.concert_Name, (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = c1.concert_ID) as num_singers, (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE Theme = 'Happy Tonight')) as num_singers_happy_tonight, (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = c1.concert_ID) / (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE Theme = 'Happy Tonight')) as ratio FROM concert c1 WHERE c1.Year > 2012 AND (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = c1.concert_ID) > (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE Theme = 'Happy Tonight')) 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.3333333333}} {"concert_ID":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6},"concert_Name":{"0":"Auditions","1":"Super bootcamp","2":"Home Visits","3":"Week 1","4":"Week 1","5":"Week 2"},"singer_count":{"0":3,"1":2,"2":1,"3":1,"4":2,"5":1}} SELECT c.concert_ID, c.concert_Name, COUNT(si.Singer_ID) AS singer_count FROM concert c JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE c.Year > '2012' GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(si.Singer_ID) > (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE concert_Name = 'Happy Tonight')) 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.3333333333}} {"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"num_singers":{"0":3},"singer_ratio":{"0":1}} SELECT c.concert_ID, c.concert_Name, COUNT(si.Singer_ID) as num_singers, COUNT(si.Singer_ID) / (SELECT COUNT(si.Singer_ID) FROM concert c JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE c.Theme = 'Happy Tonight') as singer_ratio FROM concert c JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE c.Year > '2012' GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(si.Singer_ID) > (SELECT COUNT(si.Singer_ID) FROM concert c JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE c.Theme = 'Happy Tonight') 0
{"Name":{"0":"Joe Sharp","1":"John Nizinik"}} {"Name":{}} SELECT s1.Name FROM singer s1 INNER JOIN singer s2 ON s1.Song_release_year = s2.Song_release_year WHERE s2.Song_Name = 'Love' AND s1.Age > s2.Age * 2 0
{"Name":{"0":"Joe Sharp","1":"John Nizinik"}} {"Name":{}} SELECT s1.Name FROM singer s1 JOIN singer s2 ON s1.Song_Name != s2.Song_Name WHERE s2.Song_Name = 'Love' AND s1.Age > s2.Age * 2 AND s1.Song_release_year = s2.Song_release_year 0
{"Name":{"0":"Joe Sharp","1":"Rose White","2":"John Nizinik"}} {"Name":{}} SELECT T1.Name FROM singer AS T1 INNER JOIN ( SELECT Age FROM singer WHERE Song_Name = 'Love' AND Song_release_year = '2010' ) AS T2 ON T1.Age > 2 * T2.Age WHERE T1.Song_release_year = '2010' 0

In [ ]:
training = AG.from_jsonl("./Data/Text2SQL/Archer/en_data/train.json", jsonl=False)
reasoning_types = {}
import random

for question in training:
    for reasoning_type in question.reasoning_type.split(" "):
        if not reasoning_type in reasoning_types:
            reasoning_types[reasoning_type] = []
        reasoning_types[reasoning_type].append(question)
for reasoning_type in reasoning_types:
    print(random.choice(reasoning_types[reasoning_type]))