In [1]:
! uv pip install agentics-py

import os
import sys
from getpass import getpass

from dotenv import find_dotenv, load_dotenv
import time

CURRENT_PATH = ""

IN_COLAB = "google.colab" in sys.modules
print("In Colab:", IN_COLAB)


if IN_COLAB:
    CURRENT_PATH = "/content/drive/MyDrive/"
    # Mount your google drive
    from google.colab import drive
    drive.mount("/content/drive")
    load_dotenv("/content/drive/MyDrive/.env")
else:
    load_dotenv(find_dotenv())

if not os.getenv("GEMINI_API_KEY"):
    os.environ["GEMINI_API_KEY"] = getpass("Enter your GEMINI_API_KEY:")

begin_time=time.time()

Using Python 3.12.9 environment at: /Users/gliozzo/Code/agentics911/agentics/.venv
Audited 1 package in 119ms
In Colab: False

In [2]:
from typing import Optional, Union, List, Dict, Any
from pydantic import BaseModel, ConfigDict, Field
from pandas import DataFrame

class Text2sqlQuestion(BaseModel): 
    model_config = ConfigDict(arbitrary_types_allowed=True)
    question: Optional[str] =None
    db_id: Optional[str] =None
    query: Optional[str] =None
    reasoning_type: Optional[str] =None
    commonsense_knowledge: Optional[str] =None
    schema: Optional[str] = None
    generated_query: Optional[str] =Field(None, description="The query generated by AI")
    system_output_df: Optional[str] = None
    gt_output_df: Optional[str] = None

/Users/gliozzo/Code/agentics911/agentics/.venv/lib/python3.12/site-packages/pydantic/_internal/_fields.py:198: UserWarning: Field name "schema" in "Text2sqlQuestion" shadows an attribute in parent "BaseModel"
  warnings.warn(

In [3]:
import re

def fix_double_quoted_literals(sql: str) -> str:
    """
    Convert double-quoted *literals* to single-quoted strings.
    Keep double-quoted *identifiers* like "MyTable" as-is.

    Heuristic: if the content is a simple identifier ([A-Za-z_][A-Za-z0-9_]*),
    we keep the double quotes; otherwise we treat it as a literal and convert.
    """
    ident_re = re.compile(r'^[A-Za-z_][A-Za-z0-9_]*$')

    def repl(m):
        body = m.group(1).replace('""', '"')  # unescape doubled quotes inside ""
        if ident_re.fullmatch(body):
            # looks like an identifier → leave as "Identifier"
            return f'"{m.group(1)}"'
        # looks like a literal → convert to '...'
        return "'" + body.replace("'", "''") + "'"

    # Match " ... " allowing doubled "" inside
    return re.sub(r'"((?:[^"]|"")*)"', repl, sql)

In [4]:
from pandas import DataFrame
import aiosqlite
import asyncio

async def async_execute_sql(sql_query: str, db_path:str) -> str:
        try:
            async with aiosqlite.connect(db_path) as db:
                async with db.execute(sql_query.replace("\"","'")) as cursor:
                    columns = [description[0] for description in cursor.description]
                    rows = await asyncio.wait_for(cursor.fetchall(), timeout=10)
                    df = DataFrame(rows, columns=columns)
                    return df.to_json()
        except Exception as e:
            return f"Error: {str(e)}"

In [5]:
import sqlite3
def get_schema(db_path):
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    schema_json={}
    for table in tables:

        cursor.execute(f"PRAGMA table_info({table[0]});")
        schema = cursor.fetchall()
        
        schema_json[table[0]] = { col[1] : {"type" : col[2], "notnull" : col[3], "dflt_value": col[4], } for col in schema} 
    return schema_json

res = get_schema("/Users/gliozzo/Data/Text2SQL/Archer/database/bike_1/bike_1.sqlite")
print(res)

{'station': {'id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'lat': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'long': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'dock_count': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'city': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'installation_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}, 'status': {'station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'bikes_available': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'docks_available': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'time': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}, 'trip': {'id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'duration': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'start_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'start_station_name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'start_station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'end_date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'end_station_name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'end_station_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'bike_id': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'subscription_type': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'zip_code': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}}, 'weather': {'date': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'max_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_temperature_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_dew_point_f': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_humidity': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'mean_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'min_sea_level_pressure_inches': {'type': 'NUMERIC', 'notnull': 0, 'dflt_value': None}, 'max_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'min_visibility_miles': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_wind_Speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'mean_wind_speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'max_gust_speed_mph': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'precipitation_inches': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'cloud_cover': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'events': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'wind_dir_degrees': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}, 'zip_code': {'type': 'INTEGER', 'notnull': 0, 'dflt_value': None}}}

In [6]:

from typing import Set
import pandas as pd


def remove_duplicate_col_df(df):
    return df.loc[:, ~df.columns.duplicated()]


def convert_df_to_set(df, row_invariant=True) -> Set:
    # remove duplicate columns
    df = remove_duplicate_col_df(df)

    if row_invariant:
        return set(
            [
                tuple(sorted(df[c].to_list(), key=lambda x: (x is None, str(x))))
                for c in df.columns.values
            ]
        )
    else:
        return set([tuple(df[c].to_list()) for c in df.columns.values])



def compare_df(gt, predicted, row_invariant=False) -> bool:
    # 1: gt_df is subset of predicted_df
    # 2: df1 == df2
    # 0: otherwise
    if predicted.startswith("Error:") or gt.startswith("Error:"): return 0
    gt_df = pd.read_json(gt)
    predicted_df = pd.read_json(predicted)
    gt_df = gt_df.map(lambda x: float(f"{x:.5f}") if isinstance(x, float) else x)
    predicted_df = predicted_df.map(
        lambda x: float(f"{x:.5f}") if isinstance(x, float) else x
    )

    gt_set = convert_df_to_set(gt_df, row_invariant=row_invariant)
    predicted_set = convert_df_to_set(predicted_df, row_invariant=row_invariant)

    intersec = gt_set & predicted_set
    return (
        1
        if (intersec == gt_set)
        else 1
        if (predicted_set == gt_set)
        else 1
        if (intersec == predicted_set)
        else 0
    )

In [7]:
from crewai.tools import tool
## Define a Crew AI tool to get news for a given date using the DDGS search engine
@tool("execute_sql_query")
async def execute_sql_query(sql_query:str, db_id:str)-> str:
    """Execute a SQL query against the target db and return the execution results (error or json dataframe)"""
    schema_path = os.path.join("/Users/gliozzo/Data/Text2SQL/Archer/database/", 
                            db_id,db_id+".sqlite" )
    system_output_df= await async_execute_sql(sql_query, schema_path)
    return system_output_df

In [8]:
from agentics import Agentics as AG
from agentics.core.llm_connections import get_llm_provider

training = AG.from_jsonl("/Users/gliozzo/Data/Text2SQL/Archer/en_data/dev.json", 
                        jsonl=False, 
                        atype=Text2sqlQuestion,
                        #max_rows=1,
                        )
training.llm=get_llm_provider("watsonx")
training.reasoning=False
training.tools=[execute_sql_query]
training.max_iter=10
training[0].model_dump_json()

2025-09-13 12:03:08.318 | DEBUG    | agentics.core.llm_connections:<module>:121 - AGENTICS is connecting to the following LLM API providers:
2025-09-13 12:03:08.318 | DEBUG    | agentics.core.llm_connections:<module>:124 - 0 - WatsonX
2025-09-13 12:03:08.318 | DEBUG    | agentics.core.llm_connections:<module>:129 - 1 - Gemini
2025-09-13 12:03:08.319 | DEBUG    | agentics.core.llm_connections:<module>:133 - 2 - OpenAI
2025-09-13 12:03:08.319 | DEBUG    | agentics.core.llm_connections:<module>:135 - Please add API keys in .env file to add or disconnect providers.
2025-09-13 12:03:08.325 | DEBUG    | agentics.core.llm_connections:get_llm_provider:29 - No LLM provider specified. Using the first available provider.
2025-09-13 12:03:08.326 | DEBUG    | agentics.core.llm_connections:get_llm_provider:31 - Available LLM providers: ['watsonx', 'gemini', 'openai']. Using 'watsonx'
2025-09-13 12:03:08.328 | DEBUG    | agentics.core.llm_connections:get_llm_provider:42 - Using specified LLM provider: watsonx

'{"question":"List the name and age of each singer at the time of the release of the song \\"Gentleman\\".","db_id":"concert_singer","query":"SELECT Name , Age + ( SELECT Song_release_year FROM singer WHERE Song_Name = \\"Gentleman\\" ) - strftime ( \\"%Y\\" , \\"now\\" ) AS target_age FROM singer","reasoning_type":"- + C","commonsense_knowledge":"Age is calculated by substracting date of birth from a given date.","schema":null,"generated_query":null,"system_output_df":null,"gt_output_df":null}'

In [9]:
async def get_schema_map(state:Text2sqlQuestion)-> Text2sqlQuestion:
    schema_path = os.path.join("/Users/gliozzo/Data/Text2SQL/Archer/database/", 
                            state.db_id,state.db_id+".sqlite" )
    state.schema=str(get_schema(schema_path))
    print(state.db_id)
    return state

training= await training.amap(get_schema_map)
training.verbose_agent=False
print(training[0].schema)

2025-09-13 12:03:08.341 | DEBUG    | agentics.core.agentics:amap:207 - Executing amap on function <function get_schema_map at 0x169fb8b80>
2025-09-13 12:03:08.346 | DEBUG    | agentics.core.agentics:amap:232 - 20 states processed. 0.00021255016326904297 seconds average per state in the last chunk ...
2025-09-13 12:03:08.349 | DEBUG    | agentics.core.agentics:amap:232 - 40 states processed. 0.00013870000839233398 seconds average per state in the last chunk ...
2025-09-13 12:03:08.353 | DEBUG    | agentics.core.agentics:amap:232 - 60 states processed. 0.00020110607147216797 seconds average per state in the last chunk ...
2025-09-13 12:03:08.358 | DEBUG    | agentics.core.agentics:amap:232 - 80 states processed. 0.0002407550811767578 seconds average per state in the last chunk ...
2025-09-13 12:03:08.362 | DEBUG    | agentics.core.agentics:amap:232 - 100 states processed. 0.00015285015106201172 seconds average per state in the last chunk ...
2025-09-13 12:03:08.363 | DEBUG    | agentics.core.agentics:amap:232 - 120 states processed. 3.9184093475341796e-05 seconds average per state in the last chunk ...

concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
concert_singer
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
world_1
{'stadium': {'Stadium_ID': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Location': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Capacity': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Highest': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Lowest': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Average': {'type': 'INT', 'notnull': 0, 'dflt_value': None}}, 'singer': {'Singer_ID': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Country': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Song_Name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Song_release_year': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Age': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Is_male': {'type': 'bool', 'notnull': 0, 'dflt_value': None}}, 'concert': {'concert_ID': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'concert_Name': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Theme': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Stadium_ID': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}, 'Year': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}, 'singer_in_concert': {'concert_ID': {'type': 'INT', 'notnull': 0, 'dflt_value': None}, 'Singer_ID': {'type': 'TEXT', 'notnull': 0, 'dflt_value': None}}}

In [10]:
training = await training.self_transduction(["question","schema","commonsense_knowledge", "db_id"], 
                            ["generated_query"], 
                            instructions="Generate a SQL query from the input question and target db schema")
print(training[0].generated_query)

2025-09-13 12:03:08.372 | DEBUG    | agentics.core.agentics:__lshift__:519 - Executing task: Generate a SQL query from the input question and target db schema
104 states will be transduced
2025-09-13 12:03:08.373 | DEBUG    | agentics.core.agentics:__lshift__:613 - transducer class: <class 'agentics.abstractions.pydantic_transducer.PydanticTransducerCrewAI'>
2025-09-13 12:03:54.562 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 20 states in 46.188432693481445 seconds
2025-09-13 12:03:54.563 | DEBUG    | agentics.core.agentics:__lshift__:702 - 20 states processed in 2.3094216346740724 seconds average per state ...
2025-09-13 12:04:11.390 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 20 states in 16.82680082321167 seconds
2025-09-13 12:04:11.391 | DEBUG    | agentics.core.agentics:__lshift__:702 - 40 states processed in 0.8413400411605835 seconds average per state ...
2025-09-13 12:04:27.854 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 20 states in 16.463151216506958 seconds
2025-09-13 12:04:27.855 | DEBUG    | agentics.core.agentics:__lshift__:702 - 60 states processed in 0.8231575608253479 seconds average per state ...
2025-09-13 12:04:48.992 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 20 states in 21.13654088973999 seconds
2025-09-13 12:04:48.993 | DEBUG    | agentics.core.agentics:__lshift__:702 - 80 states processed in 1.0568270444869996 seconds average per state ...
2025-09-13 12:05:01.387 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 20 states in 12.393455028533936 seconds
2025-09-13 12:05:01.387 | DEBUG    | agentics.core.agentics:__lshift__:702 - 100 states processed in 0.6196727514266968 seconds average per state ...
2025-09-13 12:05:11.957 | DEBUG    | agentics.core.agentics:__lshift__:650 - Processed 4 states in 10.568987131118774 seconds
2025-09-13 12:05:11.957 | DEBUG    | agentics.core.agentics:__lshift__:702 - 120 states processed in 0.5284493565559387 seconds average per state ...

SELECT Name, Age FROM singer WHERE Song_Name = "Gentleman"

In [11]:
async def execute_query_map(state:Text2sqlQuestion)-> Text2sqlQuestion:
    schema_path = os.path.join("/Users/gliozzo/Data/Text2SQL/Archer/database/", 
                            state.db_id,state.db_id+".sqlite" )
    state.system_output_df= await async_execute_sql(state.generated_query, schema_path)
    state.gt_output_df= await async_execute_sql(state.query, schema_path)
    return state

training= await training.amap(execute_query_map)
print(training[0].gt_output_df)

2025-09-13 12:05:11.975 | DEBUG    | agentics.core.agentics:amap:207 - Executing amap on function <function execute_query_map at 0x16db0e480>
2025-09-13 12:05:12.001 | DEBUG    | agentics.core.agentics:amap:232 - 20 states processed. 0.0012450575828552245 seconds average per state in the last chunk ...
2025-09-13 12:05:12.018 | DEBUG    | agentics.core.agentics:amap:232 - 40 states processed. 0.0008552432060241699 seconds average per state in the last chunk ...
2025-09-13 12:05:12.034 | DEBUG    | agentics.core.agentics:amap:232 - 60 states processed. 0.0007887601852416993 seconds average per state in the last chunk ...
2025-09-13 12:05:12.073 | DEBUG    | agentics.core.agentics:amap:232 - 80 states processed. 0.0019455075263977051 seconds average per state in the last chunk ...
2025-09-13 12:05:12.095 | DEBUG    | agentics.core.agentics:amap:232 - 100 states processed. 0.0010588526725769042 seconds average per state in the last chunk ...
2025-09-13 12:05:12.099 | DEBUG    | agentics.core.agentics:amap:232 - 120 states processed. 0.00018520355224609374 seconds average per state in the last chunk ...

{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":41,"1":21,"2":18,"3":30,"4":32,"5":14}}

In [12]:
training.to_jsonl("/tmp/anker_task.jsonl")

2025-09-13 12:05:12.106 | DEBUG    | agentics.core.agentics:to_jsonl:940 - Exporting 104 Agentics to CSV /tmp/anker_task.jsonl

In [13]:
print(f"task executed in {time.time() - begin_time} seconds")

task executed in 126.62181782722473 seconds

In [14]:
training = AG.from_jsonl("/tmp/anker_task.jsonl")
total = 0
for question in training:
    total+= compare_df(question.system_output_df, question.gt_output_df)
    print(question.gt_output_df, question.system_output_df, question.generated_query,compare_df(question.system_output_df, question.gt_output_df) )
print(f"Test size: {len(training.states)}\nExecution Accuracy: {total/len(training.states)}")

{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":41,"1":21,"2":18,"3":30,"4":32,"5":14}} {"Name":{"0":"John Nizinik"},"Age":{"0":43}} SELECT Name, Age FROM singer WHERE Song_Name = "Gentleman" 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":41,"1":21,"2":18,"3":30,"4":32,"5":14}} {"Name":{"0":"John Nizinik","1":"John Nizinik"},"Song_release_year":{"0":"2014","1":"2014"},"Age":{"0":43,"1":43}} SELECT s.Name, s.Song_release_year, s.Age FROM singer s INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID WHERE s.Song_Name = 'Gentleman' 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":28,"1":8,"2":5,"3":17,"4":19,"5":1}} {"Name":{},"Age":{}} SELECT s.Name, 2001 - s.Age AS Age FROM singer s WHERE s.Song_Name = 'Gentleman' AND s.Song_release_year = '2001' 0
{"Name":{"0":"Joe Sharp","1":"Timbaland","2":"Justin Brown","3":"Rose White","4":"John Nizinik","5":"Tribal King"},"target_age":{"0":28,"1":8,"2":5,"3":17,"4":19,"5":1}} {"Name":{},"Age":{}} SELECT Name, Age FROM singer WHERE Song_Name = 'Gentleman' AND Song_release_year = '2001' 0
{"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"age_at_concert":{"0":21,"1":18,"2":32}} {"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"Age":{"0":32,"1":29,"2":43}} SELECT singer.Name, singer.Age FROM singer INNER JOIN singer_in_concert ON singer.Singer_ID = singer_in_concert.Singer_ID INNER JOIN concert ON singer_in_concert.concert_ID = concert.concert_ID WHERE concert.Theme = 'Free choice' 0
{"Name":{"0":"Timbaland","1":"Justin Brown","2":"John Nizinik"},"age_at_concert":{"0":21,"1":18,"2":32}} {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' 0
{"Name":{"0":"John Nizinik","1":"Justin Brown","2":"Rose White","3":"Timbaland"},"age_at_concert":{"0":32,"1":18,"2":30,"3":21}} {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' AND s.Age > (2024 - 1985) 0
{"Name":{"0":"John Nizinik","1":"Justin Brown","2":"Rose White","3":"Timbaland"},"age_at_concert":{"0":32,"1":18,"2":30,"3":21}} {"Name":{},"Age":{}} SELECT s.Name, 2024 - s.Age AS Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.Theme = 'Free Choice' AND s.Age < 2024 - 1985 0
{"years":{"0":11}} {"years_since_earliest_concert":{"0":10}} SELECT (2024 - MIN(Year)) AS years_since_earliest_concert FROM concert 0
{"years":{"0":11}} {"years_ago":{"0":11}} SELECT 2025 - MIN(Year) AS years_ago FROM concert 1
{"years":{"0":14}} Error: no such column: YEAR SELECT TIMESTAMPDIFF(YEAR, DATE('2011-01-01'), DATE('2024-01-01')) AS years_since_earliest_concert 0
{"years":{"0":14}} {"years_ago":{"0":13}} SELECT (2024 - MIN(Year)) + 3 as years_ago FROM concert WHERE Theme = 'Wide Awake' 0
{"Name":{"0":"John Nizinik"},"target_age":{"0":53}} {"Name":{"0":"John Nizinik"},"Age_on_20th_anniversary":{"0":63}} SELECT s.Name, s.Age + 20 AS Age_on_20th_anniversary FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.concert_Name = 'Home Visits' 0
{"Name":{"0":"John Nizinik"},"target_age":{"0":53}} {"Name":{"0":"John Nizinik"},"Age":{"0":2001}} SELECT T1.Name, (2024 - T1.Age) + 20 AS Age FROM singer AS T1 INNER JOIN singer_in_concert AS T3 ON T1.Singer_ID = T3.Singer_ID INNER JOIN concert AS T2 ON T3.concert_ID = T2.concert_ID WHERE T2.concert_Name = 'Home Visits' 0
Error: near "s": syntax error {"Name":{},"Age_on_20th_anniversary":{}} SELECT s.Name, s.Age + 20 AS Age_on_20th_anniversary FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Stark Park' AND c.concert_Name = 'Home Visits' 0
Error: near "s": syntax error {"Name":{},"Age":{}} SELECT s.Name, s.Age FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID WHERE c.concert_Name = 'Home Visits' AND c.Year = (SELECT Year FROM concert WHERE concert_Name = 'Home Visits') + 20 AND s.Singer_ID IN (SELECT sic.Singer_ID FROM singer_in_concert sic JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Stark Park') 0
{"total":{"0":368750.0}} {"Total_Money":{"0":288750.0,"1":80000.0}} SELECT (CASE WHEN Name = 'Balmoor' THEN Capacity * 20 ELSE Capacity * 5.5 END) AS Total_Money FROM stadium WHERE Name = 'Balmoor' OR Name = 'Hampden Park' 0
{"total":{"0":368750.0}} {"total_money":{"0":565000.0}} SELECT (20000 * 20) + (30000 * 5.5) AS total_money 0
{"total":{"0":124000.0}} {"Total_Money":{"0":288750.0,"1":80000.0}} SELECT (CASE WHEN Name = 'Balmoor' THEN Capacity * 20 ELSE Capacity * 5.5 END) AS Total_Money FROM stadium WHERE Name IN ('Balmoor', 'Hampden Park') 0
{"total":{"0":124000.0}} Error: near "null": syntax error null 0
{"cost":{"0":684}} {"total_spent":{"0":null}} SELECT SUM(CASE WHEN s.Age < 1980 THEN 355 ELSE 228 END) AS total_spent FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park stadium' 0
{"cost":{"0":684}} {"total_expenditure":{"0":938}} SELECT SUM(CASE WHEN s.Age > 42 THEN 228 ELSE 355 END) AS total_expenditure FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 0
{"cost":{"0":811}} {"total_earnings":{"0":1065}} SELECT SUM(CASE WHEN s.Age < 1980 THEN 355 ELSE 228 END) AS total_earnings FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 0
{"cost":{"0":811}} {"total_expenditure":{"0":null}} SELECT SUM(CASE WHEN s.Age > 40 THEN 355 ELSE 228 END) AS total_expenditure FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park stadium' 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{"0":"Glebe Park","1":"Stark's Park"},"Average":{"0":552,"1":2106},"COUNT(C.concert_ID)":{"0":1,"1":1}} SELECT S.Name, S.Average, COUNT(C.concert_ID) FROM stadium S JOIN concert C ON S.Stadium_ID = C.Stadium_ID WHERE S.Average = (SELECT MIN(Average) FROM stadium) OR S.Average = (SELECT MAX(Average) FROM stadium) GROUP BY S.Name, S.Average 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{"0":"Balmoor","1":"Glebe Park","2":"Recreation Park","3":"Somerset Park","4":"Stark's Park"},"number_of_concerts":{"0":1,"1":1,"2":1,"3":2,"4":1}} SELECT s.Name, COUNT(c.concert_ID) AS number_of_concerts FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Name 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Stadium_ID":{},"Name":{},"Average":{},"COUNT(c.concert_ID)":{}} SELECT s.Stadium_ID, s.Name, s.Average, COUNT(c.concert_ID) FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID WHERE s.Name = 'Gayfield Park' OR s.Name = 'Hampden Park' GROUP BY s.Stadium_ID, s.Name, s.Average ORDER BY s.Average ASC, s.Average DESC 0
{"highest_name":{"0":"Bayview Stadium"},"concerts_in_highest_stadium":{"0":0},"lowest_name":{"0":"Hampden Park"},"concerts_in_lowest_stadium":{"0":0}} {"Name":{"0":"Balmoor","1":"Bayview Stadium","2":"Forthbank Stadium","3":"Gayfield Park","4":"Glebe Park","5":"Hampden Park","6":"Recreation Park","7":"Somerset Park","8":"Stark's Park"},"Capacity":{"0":4000,"1":2000,"2":3808,"3":4125,"4":3960,"5":52500,"6":3100,"7":11998,"8":10104},"concert_count":{"0":1,"1":0,"2":0,"3":0,"4":1,"5":0,"6":1,"7":2,"8":1},"avg_highest":{"0":837.0,"1":1980.0,"2":1125.0,"3":921.0,"4":780.0,"5":1763.0,"6":1057.0,"7":2363.0,"8":4812.0},"avg_lowest":{"0":400.0,"1":533.0,"2":404.0,"3":411.0,"4":315.0,"5":466.0,"6":331.0,"7":1057.0,"8":1294.0},"avg_average":{"0":615.0,"1":864.0,"2":642.0,"3":638.0,"4":552.0,"5":730.0,"6":637.0,"7":1477.0,"8":2106.0}} SELECT s.Name, s.Capacity, COUNT(c.concert_ID) as concert_count, AVG(s.Highest) as avg_highest, AVG(s.Lowest) as avg_lowest, AVG(s.Average) as avg_average FROM stadium s LEFT JOIN concert c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Name, s.Capacity 0
{"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"female_proportion":{"0":0.0,"1":0.0}} {"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"percentage_female":{"0":0.0,"1":0.0}} SELECT c.concert_ID, c.concert_Name, (SELECT CAST(SUM(CASE WHEN s.Is_male = 0 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(s.Singer_ID) FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID WHERE sic.concert_ID = c.concert_ID) AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 1
{"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"female_proportion":{"0":0.0,"1":0.0}} {"concert_ID":{"0":2,"1":3},"concert_Name":{"0":"Super bootcamp","1":"Home Visits"},"percentage_female":{"0":0.0,"1":0.0}} SELECT c.concert_ID, c.concert_Name, (SELECT CAST(COUNT(CASE WHEN s.Is_male = 0 THEN 1 ELSE NULL END) AS REAL) * 100 / COUNT(s.Singer_ID) FROM singer s JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID WHERE sic.concert_ID = c.concert_ID) AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park' 1
{"concert_ID":{"0":2,"1":3,"2":6},"concert_Name":{"0":"Super bootcamp","1":"Home Visits","2":"Week 2"},"female_proportion":{"0":0.0,"1":0.0,"2":0.0}} {"concert_ID":{},"concert_Name":{},"percentage_female":{}} SELECT c.concert_ID, c.concert_Name, (SELECT CAST(SUM(CASE WHEN s.Is_male = 0 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(s.Singer_ID) FROM singer_in_concert sic JOIN singer s ON sic.Singer_ID = s.Singer_ID WHERE sic.concert_ID = c.concert_ID) AS percentage_female FROM concert c JOIN stadium st ON c.Stadium_ID = st.Stadium_ID WHERE st.Name = 'Somerset Park stadium' 0
{"concert_ID":{"0":2,"1":3,"2":6},"concert_Name":{"0":"Super bootcamp","1":"Home Visits","2":"Week 2"},"female_proportion":{"0":0.0,"1":0.0,"2":0.0}} {"concert_ID":{},"concert_Name":{},"female_singer_percentage":{}} SELECT concert.concert_ID, concert.concert_Name, (SELECT COUNT(singer_in_concert.Singer_ID) FROM singer_in_concert WHERE singer_in_concert.concert_ID = concert.concert_ID AND singer_in_concert.Singer_ID IN (SELECT Singer_ID FROM singer WHERE Is_male = 0)) / (SELECT COUNT(singer_in_concert.Singer_ID) FROM singer_in_concert WHERE singer_in_concert.concert_ID = concert.concert_ID) AS female_singer_percentage FROM concert WHERE concert.Stadium_ID = (SELECT Stadium_ID FROM stadium WHERE Name = 'Somerset Park') AND concert.concert_Name = 'Week 2' 0
{"percent":{"0":33.3333333333}} {"percentage":{"0":66.6666666667}} SELECT (CAST(COUNT(CASE WHEN c.Stadium_ID IN (SELECT s.Stadium_ID FROM stadium AS s JOIN concert AS c ON s.Stadium_ID = c.Stadium_ID GROUP BY s.Stadium_ID ORDER BY COUNT(c.concert_ID) DESC LIMIT 3) THEN 1 ELSE NULL END) AS REAL) * 100 / COUNT(c.concert_ID)) AS percentage FROM concert AS c 0
{"percent":{"0":33.3333333333}} {"percentage":{"0":50.0}} WITH top_stadiums AS (SELECT Stadium_ID, AVG(Average) as avg_attendance FROM stadium GROUP BY Stadium_ID ORDER BY avg_attendance DESC LIMIT 3), total_concerts AS (SELECT COUNT(*) as total FROM concert), concerts_in_top_stadiums AS (SELECT COUNT(*) as total FROM concert c JOIN top_stadiums t ON c.Stadium_ID = t.Stadium_ID) SELECT (SELECT total FROM concerts_in_top_stadiums) * 100.0 / (SELECT total FROM total_concerts) as percentage 0
{"percent":{"0":33.3333333333}} {"percentage":{"0":null}} SELECT CAST(SUM(CASE WHEN c.Stadium_ID IN (SELECT s.Stadium_ID FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID WHERE c.Theme = 'Bleeding Love' GROUP BY s.Stadium_ID ORDER BY AVG(s.Average) DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) AS percentage FROM concert c WHERE c.Theme = 'Bleeding Love' AND c.concert_Name = 'Bleeding Love' AND c.Stadium_ID = (SELECT Stadium_ID FROM stadium WHERE Name = 'Glebe Park') 0
{"percent":{"0":33.3333333333}} {"CAST(SUM(CASE WHEN stadium.Name IN (SELECT Name FROM stadium ORDER BY Average DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 \/ COUNT(concert.concert_ID)":{"0":50.0}} SELECT CAST(SUM(CASE WHEN stadium.Name IN (SELECT Name FROM stadium ORDER BY Average DESC LIMIT 3) THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(concert.concert_ID) FROM concert INNER JOIN stadium ON concert.Stadium_ID = stadium.Stadium_ID 0
{"Name":{"0":"Stark's Park","1":"Somerset Park"}} {"Stadium_ID":{"0":1,"1":2},"Name":{"0":"Stark's Park","1":"Somerset Park"},"singer_count":{"0":3,"1":3}} SELECT s.Stadium_ID, s.Name, COUNT(si.Singer_ID) as singer_count FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert si ON c.concert_ID = si.concert_ID GROUP BY s.Stadium_ID, s.Name HAVING COUNT(si.Singer_ID) >= 3 * (SELECT COUNT(si.Singer_ID) FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE s.Name = 'Glebe Park') 1
{"Name":{"0":"Stark's Park","1":"Somerset Park"}} {"Name":{"0":"Somerset Park","1":"Stark's Park"}} SELECT T1.Name FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.Stadium_ID = T2.Stadium_ID INNER JOIN singer_in_concert AS T3 ON T2.concert_ID = T3.concert_ID WHERE T1.Name != 'Glebe Park' GROUP BY T1.Name HAVING COUNT(T3.Singer_ID) >= 3 * (SELECT COUNT(T3.Singer_ID) FROM stadium AS T1 INNER JOIN concert AS T2 ON T1.Stadium_ID = T2.Stadium_ID INNER JOIN singer_in_concert AS T3 ON T2.concert_ID = T3.concert_ID WHERE T1.Name = 'Glebe Park') 0
{"Name":{"0":"Stark's Park","1":"Somerset Park","2":"Balmoor"}} {"Name":{}} SELECT s.Name FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID JOIN singer si ON sic.Singer_ID = si.Singer_ID WHERE s.Name = 'Somerset Park' AND si.Singer_ID IN (SELECT sic.Singer_ID FROM singer_in_concert sic JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium s ON c.Stadium_ID = s.Stadium_ID WHERE s.Name = 'Balmoor') GROUP BY s.Name HAVING COUNT(DISTINCT si.Singer_ID) >= 3 * (SELECT COUNT(DISTINCT si.Singer_ID) FROM singer si JOIN singer_in_concert sic ON si.Singer_ID = sic.Singer_ID JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium s ON c.Stadium_ID = s.Stadium_ID WHERE s.Name = 'Glebe Park') 0
{"Name":{"0":"Stark's Park","1":"Somerset Park","2":"Balmoor"}} {"Name":{}} SELECT s.Name FROM stadium s JOIN concert c ON s.Stadium_ID = c.Stadium_ID JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID JOIN singer sg ON sic.Singer_ID = sg.Singer_ID WHERE s.Name = 'Somerset Park' AND sg.Singer_ID IN (SELECT sic.Singer_ID FROM singer_in_concert sic JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium s ON c.Stadium_ID = s.Stadium_ID WHERE s.Name = 'Balmoor') GROUP BY s.Name HAVING COUNT(DISTINCT sg.Singer_ID) >= 3 * (SELECT COUNT(DISTINCT sg.Singer_ID) FROM singer_in_concert sic JOIN concert c ON sic.concert_ID = c.concert_ID JOIN stadium s ON c.Stadium_ID = s.Stadium_ID JOIN singer sg ON sic.Singer_ID = sg.Singer_ID WHERE s.Name = 'Glebe Park') 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} {"Name":{}} SELECT Name FROM stadium WHERE Highest/Capacity > (SELECT MAX(Highest)/4000*2 FROM stadium WHERE Name = 'Balmoor') 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} {"Name":{}} SELECT Name FROM stadium WHERE (Highest / Capacity) > (2 * (SELECT Highest / Capacity FROM stadium WHERE Name = 'Balmoor')) 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium","2":"Recreation Park"}} {"Name":{}} SELECT Name FROM stadium WHERE Highest / Capacity > (SELECT Highest / Capacity FROM stadium WHERE Name = 'Balmoor' AND Capacity = 5600) * 2 0
{"Name":{"0":"Stark's Park","1":"Bayview Stadium","2":"Recreation Park"}} {"Name":{"0":"Stark's Park","1":"Bayview Stadium"}} SELECT Name FROM stadium WHERE CAST(Highest AS REAL) / Capacity > (SELECT CAST(Highest AS REAL) / Capacity FROM stadium WHERE Name = 'Balmoor') * 2 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.5}} {"concert_ID":{},"concert_Name":{},"num_singers":{}} SELECT c.concert_ID, c.concert_Name, COUNT(sic.Singer_ID) AS num_singers FROM concert c JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID WHERE c.Year > 2012 AND sic.Singer_ID IN (SELECT sic2.Singer_ID FROM singer_in_concert sic2 JOIN concert c2 ON sic2.concert_ID = c2.concert_ID WHERE c2.Theme = 'Happy Tonight') GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(sic.Singer_ID) > (SELECT COUNT(sic3.Singer_ID) FROM singer_in_concert sic3 JOIN concert c3 ON sic3.concert_ID = c3.concert_ID WHERE c3.Theme = 'Happy Tonight') 0
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.5}} {"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"singer_count":{"0":3},"singer_ratio":{"0":1.5}} SELECT c.concert_ID, c.concert_Name, COUNT(si.Singer_ID) as singer_count, (COUNT(si.Singer_ID) * 1.0 / (SELECT COUNT(si2.Singer_ID) FROM singer_in_concert si2 JOIN concert c2 ON si2.concert_ID = c2.concert_ID WHERE c2.Theme = 'Happy Tonight')) as singer_ratio FROM concert c JOIN singer_in_concert si ON c.concert_ID = si.concert_ID WHERE c.Year > '2012' GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(si.Singer_ID) > (SELECT COUNT(si2.Singer_ID) FROM singer_in_concert si2 JOIN concert c2 ON si2.concert_ID = c2.concert_ID WHERE c2.Theme = 'Happy Tonight') 1
{"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"times":{"0":1.3333333333}} {"concert_ID":{"0":1},"concert_Name":{"0":"Auditions"},"singer_count":{"0":3}} SELECT c.concert_ID, c.concert_Name, COUNT(sic.Singer_ID) AS singer_count FROM concert c INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID WHERE c.Year > '2012' GROUP BY c.concert_ID, c.concert_Name HAVING COUNT(sic.Singer_ID) > (SELECT COUNT(Singer_ID) FROM singer_in_concert WHERE concert_ID = (SELECT concert_ID FROM concert WHERE Theme = 'Happy Tonight')) 0

In [42]:
training = AG.from_jsonl("/Users/gliozzo/Data/Text2SQL/Archer/en_data/train.json",jsonl=False)
reasoning_types={}
import random
for question in training:
    for reasoning_type in question.reasoning_type.split(" "):
        if not reasoning_type in reasoning_types: 
            reasoning_types[reasoning_type] = []
        reasoning_types[reasoning_type].append(question)
for reasoning_type in reasoning_types:
    print(random.choice(reasoning_types[reasoning_type]))

db_id='bike_1' query='SELECT end_station_name , MAX ( duration ) AS max_duration , MIN ( duration ) AS min_duration , MAX ( duration ) - MIN ( duration ) AS diff FROM trip GROUP BY end_station_name' question='List the names of all stations, and calculate the minimum duration, maximum duration and difference between the two for trips ending at each respective station.' reasoning_type='-' commonsense_knowledge=''
db_id='riding_club' query='SELECT A.Player_name , A.Votes - 1000 AS diff FROM player A JOIN player_coach B ON A.Player_ID = B.Player_ID JOIN coach C ON B.Coach_ID = C.Coach_ID JOIN club D ON C.Club_ID = D.Club_ID WHERE D.Start_year < 2006' question='What are the names of players who are guided by coaches from clubs established before the 21st Century, and how much higher are their votes than the lowest if the lowest votes count is 1000?' reasoning_type='- C H' commonsense_knowledge='The 21st century begins with 1 January 2001.'
db_id='hospital_1' query='SELECT ( strftime ( "%s" , End ) - strftime ( "%s" , Start ) ) / 60.0 + 30 AS time FROM Appointment WHERE AppointmentID = "13216584"' question='If the duration of the appointment with an appointment ID 13216584 is extended for half an hour, how many minutes will it last?' reasoning_type='- + / C H' commonsense_knowledge='Half an hour is 30 minutes.'
db_id='driving_school' query='SELECT * FROM ( SELECT 5 + strftime ( "%Y" , date_left_staff ) - strftime ( "%Y" , date_of_birth ) - ( strftime ( "%m-%d" , date_left_staff ) < strftime ( "%m-%d" , date_of_birth ) ) AS age FROM Staff WHERE first_name = "Janessa" AND middle_name = "Amara" AND last_name = "Sawayn" ) JOIN ( SELECT date_of_birth - ( SELECT date_of_birth FROM Staff WHERE first_name = "Janessa" AND middle_name = "Amara" AND last_name = "Sawayn" ) AS diff FROM Staff WHERE first_name = "Camylle" AND middle_name = "Icie" AND last_name = "Weissnat" )' question='How old is Janessa Amara Sawayn five years after she left office, and how many years younger than Camylle Icie Weissnat?' reasoning_type='- + C' commonsense_knowledge='Age is calculated by substracting date of birth from a given date.'
db_id='soccer_1' query='SELECT player_name , MAX ( shooting_rating ) FROM ( SELECT B.player_name , MAX ( 0.45 * ( finishing + 5 ) + 0.2 * long_shots + 0.05 * penalties + 0.05 * positioning + 0.2 * shot_power + 0.05 * volleys ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE finishing <= long_shots AND finishing <= penalties AND finishing <= positioning AND finishing <= shot_power AND finishing <= volleys UNION ALL SELECT B.player_name , MAX ( 0.45 * finishing + 0.2 * ( long_shots + 5 ) + 0.05 * penalties + 0.05 * positioning + 0.2 * shot_power + 0.05 * volleys ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE long_shots <= finishing AND long_shots <= penalties AND long_shots <= positioning AND long_shots <= shot_power AND long_shots <= volleys UNION ALL SELECT B.player_name , MAX ( 0.45 * finishing + 0.2 * long_shots + 0.05 * ( penalties + 5 ) + 0.05 * positioning + 0.2 * shot_power + 0.05 * volleys ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE penalties <= finishing AND penalties <= long_shots AND penalties <= positioning AND penalties <= shot_power AND penalties <= volleys UNION ALL SELECT B.player_name , MAX ( 0.45 * finishing + 0.2 * long_shots + 0.05 * penalties + 0.05 * ( positioning + 5 ) + 0.2 * shot_power + 0.05 * volleys ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE positioning <= finishing AND positioning <= long_shots AND positioning <= penalties AND positioning <= shot_power AND positioning <= volleys UNION ALL SELECT B.player_name , MAX ( 0.45 * finishing + 0.2 * long_shots + 0.05 * penalties + 0.05 * positioning + 0.2 * ( shot_power + 5 ) + 0.05 * volleys ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE shot_power <= finishing AND shot_power <= long_shots AND shot_power <= penalties AND shot_power <= positioning AND shot_power <= volleys UNION ALL SELECT B.player_name , MAX ( 0.45 * finishing + 0.2 * long_shots + 0.05 * penalties + 0.05 * positioning + 0.2 * shot_power + 0.05 * ( volleys + 5 ) ) AS shooting_rating FROM Player_Attributes A JOIN Player B ON A.player_fifa_api_id = B.player_fifa_api_id WHERE volleys <= finishing AND volleys <= long_shots AND volleys <= penalties AND volleys <= positioning AND volleys <= shot_power )' question='The shooting rating is comprised of 6 attributes, including 45% finishing, 20% long shots, 5% penalties, 5% positioning, 20% shot power, and 5% volleys. What is the name and shooting rating of the top 1 player in terms of shooting rating if weakest shooting attributes of all players could be impoved by 5 points?' reasoning_type='+ * H' commonsense_knowledge=''
db_id='bike_1' query='SELECT 1.0 * max_temperature_f / min_temperature_f AS times FROM weather WHERE max_temperature_f - min_temperature_f = ( SELECT MAX ( max_temperature_f - min_temperature_f ) FROM weather )' question='What is the ratio of maximum temperature to minimum temperature when the temperature difference is maximized?' reasoning_type='- * /' commonsense_knowledge=''